<div id="theme-root" class="theme--pinkie">
  <vgr-sidebar-menu>
    <vgr-menu title="Ersättning">
      <vgr-menu-item link="/startsida" text="Startsida"></vgr-menu-item>
      <vgr-menu-item link="/sjukhus" text="Sjukhus"></vgr-menu-item>
      <vgr-menu-item link="/namnder" text="Nämnder"></vgr-menu-item>
    </vgr-menu>
  </vgr-sidebar-menu>
  <vgr-header>
    <vgr-header-menu userName="Göthe Borg" circleColor="#9D2235" textColor="#FFFFFF"></vgr-header-menu>
  </vgr-header>
  <router-outlet></router-outlet>
</div>
